body {
  -webkit-font-smoothing: antialiased;
  color: #5f5f5f;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 25px;
	margin: 0;
	background: url('/bg.png');
  background: 
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.125) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.125) 100%
  ),
  url('/bg.png');
  background-attachment: scroll;
}

.postlist {
	list-style: none;
	padding: 0;
}

.text-transition-enter {
	opacity: 0.01;
}

.text-transition-enter.text-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in 600ms;
}

.text-transition-leave {
  opacity: 1;
}

.text-transition-leave.text-transition-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.evt-transition-enter {
	opacity: 0.01;
}

.evt-transition-enter.evt-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.evt-transition-leave {
    opacity: 1;
}

.evt-transition-leave.evt-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.form-transition-enter {
	opacity: 0.01;
}

.form-transition-enter.form-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.form-transition-enter-transition-leave {
    opacity: 1;
}

.form-transition-leave.form-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

del {
  background: #FFE6E6;
  color: #888888;
  font-size: 80%;
}

ins {
  background: #E6FFE6;
  text-decoration: none;
  font-weight: bold;
}

del + ins::before {
  content: '\A0';
  display: inline-block;
}

.newComment {
  background-color: #FFFFFF;
	transition: background-color 0.5s ease;
}

.newComment.highlight {
  background-color: #ffff80;
	transition: background-color 0.5s ease;
}

.displayed_username {
  font-weight: bold;
}

.byline {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  top: 2px;
}

.writing {
  padding: 7px 10px;
  transition: font-size 0.2s ease;
  font-size: 22px;
  line-height: 30px;
  color: #555555;
}

p {
  padding: 3px;
  margin: 0;
  transition: font-size 0.1s ease;
}

.quotations {
  font-weight: bolder;
  padding: 1px;
  transition: font-size 0.1s ease;
}

.larger_text {
  font-size: 23px;
}

.enlarged_text {
  font-size: 32px;
  line-height: 40px;
  transition: font-size 0.1s ease;
}

.comments_header {
  padding-bottom: 2px;
  font-size: 16px;
}

.comments {
  padding-left: 7px;
}

.newComment_time {
  color: black;
}

.comment_timestamp {
  font-size: 80%;
  padding-left: 5px;
  color: darkgray;
}

.post_title {
  padding-bottom: 3px;
  font-size: 16px;
}

.gray_icon {
  color: gray;
}

.panel-heading {
  text-align: right;
}

.label.title_header {
  padding-top: 7px;
  float: left;
  font-size: 16px;
  position: relative;
  top: 1px;
}

input, textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea {
  height: 100px;
  resize: vertical;
}

.changes_command {
  font-weight: bold;
}

.general_comment_textarea {
  height: 100px;
}

input.button_combined {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-group.button_combined {
  margin-bottom: 0;
}

button {
  transition: background 0.5s ease !important;
}

button: hover {
  transition: background 0.5s ease !important;
}

span:focus {
  outline: none;
}

input {
  height: 40px;
}

div, button, input, textarea {
  transition: box-shadow 0.5s ease;
  border-radius: 0 !important;
}

button:focus, input:focus, textarea:focus{
  outline: none;
  box-shadow: 1px 1px 4px #bbbbbb;
}

.accesscode_label {
  font-size: 17px;
  display: block;
  text-align: center;
}

.accesscode_input {
  font-size: 70px;
  height: 120px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  box-shadow: none !important;
  border: none;
  background: none;
}

.jumbotron {
  background: none;
  padding: 0;
  margin: 0;
}

.green {
  color: #5cb85c;
}

.red {
  color: red;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  font-size: 29px;
}

.example, .description {
  position: relative;
  bottom: 1px;
}

h2 {
  color: #555555;
  position: relative;
  font-weight: 700;
  margin-bottom: 7px;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 38px;
}

.intro_section {
  padding: 5px;
}

.intro_point {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.example {
  font-size: 22px;
  position: absolute;
  margin: 0 0 3px 10px;
}

.description {
  font-size: 18px;
}

h5 {
  font-weight: 500;
  font-size: 15.5px;
  line-height: 25px;
  padding: 0 10px 0 32px;
  margin-top: 7px;
}

.adj {
  text-align: center;
}

.fa.intro {
  text-align: center;
  display: inline-block;
  width: 20px;
  color: #5cb85c;
}

.fa-slideshare {
  margin-right: 7px;
}

.fa-clock-o {
  margin-left: 2px;
  margin-right: 2px;
}

.fa-mobile {
  margin-left: 5px;
  margin-right: -3px;
}

.fa-hand-peace-o {
  margin-right: 3px;
}

.rights {
  font-weight: normal;
  margin: 20px auto;
  width: 100px;
}

.label-default {
  background-color: darkgray;  
}

.changes_command > .label-default {
  padding-bottom: 1px;
}

.intro_screen {
  margin-bottom: 10px;
}

.announce {
  background-color: darkgray;
  color: white;
}

.comment_field {
  height: 100px ;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.sound {
  float: right;
  height: 40px;
  width: 40px;
  text-align: left;
  padding-left: 10px;
  position: relative;
  top: -2px;
  font-size: 10px;
}

.fa-volume-up, .fa-volume-off {
  position: relative;
  top: -2px;
  left: 1px;
}

.confirm_info {
  padding: 10px;
  display: block;
}

.demo_banner {
    background: #8bd18c;
    border: 1px solid #76bf76;
    border-bottom: none;
    -webkit-filter: contrast(1.1);
    filter: contrast(1.1);
}

.writer, .demo_button_wraper {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.cite_freepik {
  font-size: 12px;
  color: #76bf76;;
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  margin: 0 -1px;
  border-top: 1px solid #76bf76;
  background: white;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
}

.demo_button {
  font-weight: 700;
  display: block;
  width: 85%;
  margin: 0 auto;
  font-size: 25px;
}

.demo_h5 {
    font-size: 23px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 1px #888888;
}

.btn-success, .btn-info {
  color: white;
  text-shadow: 0 0 1px #888888;  
}

.timpaik_icon {
  position: relative;
  bottom: 2px;
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  -webkit-filter: hue-rotate(20deg) contrast(1.1) brightness(1.2) saturate(1.7);
  filter: hue-rotate(20deg) contrast(1.1) brightness(1.2) saturate(1.7);
  transition: -webkit-filter 0.25s linear, filter 0.25s linear;
}

.copyright {
  color: #888888 !important;
  float: right;
  display: block;
  margin-bottom: 5px;
  transition: text-shadow 0.25s linear, -webkit-filter 0.25s linear, filter 0.25s linear;
}

.copyright:hover {
  color: #15a090 !important;
  text-shadow: 0 0 1px #f9cdcd;
  -webkit-filter: hue-rotate(15deg) contrast(1.2) brightness(0.96) saturate(1.2);  
  filter: hue-rotate(15deg) contrast(1.2) brightness(0.96) saturate(1.2);
  transition: color 0.25s linear, -webkit-filter 0.25s linear, filter 0.25s linear;
}

label {
  font-size: 16px;
}

.alert, .btn-lg.btn-block, .panel, .well {
  margin-bottom: 11px;
}

.btn-lg.btn-block {
  font-size: 22px;
  height: 55px;
}

.btn-lg.btn-block.btn-default {
  margin-bottom: 0;
}

.input-group-btn > .btn-default {
  height: 40px;
  background: rgb(204, 204, 204);
}

.input-group-btn > .btn-default > .fa-comment {
  position: relative;
  top: -3px;
}

input.button_combined {
  box-shadow: none;
  height: 40px;
}

span.input-group-btn {
  background: rgb(204, 204, 204);
}

.panel, .well, .alert {
  border: 1px solid rgb(204, 204, 204);
}

div.accesscode_input {
  padding-top: 45px;
}

.fa-angle-double-down, .fa-angle-double-up {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@-moz-keyframes blinker {  
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blinker {  
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-device-width: 768px) { 
  .demo_button {
    font-size: 22.5px;
  }

  body {
  	background: url('/bg.png');
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) { 
  h5 {
    padding: 0 4px;
    padding-bottom: 5px;
  }
  
  .example {
    display: none;
  }
  
  .panel-heading {
      text-align: left;
  }

  .byline {
    display: inline-block;
    padding: 10px 0 0 0;
    font-size: 16px;
  }

  .list-group-item {
    padding: 10px 10px;
  }
  
  .comments_header {
    padding-left: 10px;
  }
  
  textarea, .general_comment_textarea {
    height: 150px;
  }

  .alert, .mobile_hide {
    display: none;
  }
  
  .label {
    margin-top: 5px;
    margin-right: 100px;
  }
  
  .btn {
    font-size: 17px;
  }
  
  .demo_button_wraper, .writer, .intro_point {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
  
  .intro_point {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .writer {
    margin-top: 0;
  }
  
  .demo_button {
    font-size: 18px;
  }
  
  h3 {
    font-size: 21px;
  }
  
  .cite_freepik {
    padding: 0;
    margin-bottom: 5px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 568px) { 
  h3 {
    font-size: 25px;
  }
}