body {
	margin: 0;
  background: url('/bg.png');
  background-attachment: fixed;
}

#app {
  padding-top: 20px;
}

.postlist {
	list-style: none;
	padding: 0;
}

.text-transition-enter {
	opacity: 0.01;
}

.text-transition-enter.text-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in 600ms;
}

.text-transition-leave {
  opacity: 1;
}

.text-transition-leave.text-transition-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.evt-transition-enter {
	opacity: 0.01;
}

.evt-transition-enter.evt-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.evt-transition-leave {
    opacity: 1;
}

.evt-transition-leave.evt-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.form-transition-enter {
	opacity: 0.01;
}

.form-transition-enter.form-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.form-transition-enter-transition-leave {
    opacity: 1;
}

.form-transition-leave.form-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

del {
  background: #FFE6E6;
  color: gray;
  font-size: 80%;
}

ins {
  background: #E6FFE6;
  text-decoration: none;
  font-weight: bold;
}

del + ins::before {
  content: '\A0';
  display: inline-block;
}

.newComment {
  background-color: #FFFFFF;
	transition: background-color 0.5s ease;
}

.newComment.highlight {
  background-color: #ffff80;
	transition: background-color 0.5s ease;
}

.displayed_username {
  font-weight: bold;
}

.byline {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  top: 2px;
}

.writing {
  padding: 7px 10px;
  transition: font-size 0.2s ease;
  font-size: 115%;
}

p {
  padding: 3px;
  margin: 0;
  transition: font-size 0.1s ease;
}

.quotations {
  font-family: sans-serif;
  font-weight: bolder;
  padding: 1px;
  transition: font-size 0.1s ease;
}

.larger_text {
  font-size: 23px;
}

.enlarged_text {
  font-size: 27px;
  transition: font-size 0.1s ease;
}

.comments_header {
  padding-bottom: 2px;
  font-size: 16px;
}

.comments {
  padding-left: 7px;
}

.newComment_time {
  color: black;
}

.comment_timestamp {
  font-size: 80%;
  padding-left: 5px;
  color: darkgray;
}

.post_title {
  padding-bottom: 3px;
  font-size: 16px;
}

.gray_icon {
  color: gray;
}

.panel-heading {
  text-align: right;
}

.label.title_header {
  padding-top: 4px;
  float: left;
  position: relative;
  top: 3px;
}

.label.change_version {
  position: relative;
  bottom: 1px;  
}

input, textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea {
  height: 100px;
  resize: vertical;
}

.changes_command {
  font-weight: bold;
}

.general_comment_textarea {
  height: 100px;
}

input.button_combined {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-group.button_combined {
  margin-bottom: 0;
}

button {
  opacity: 0.90;
  transition: background 0.5s ease !important;
}

button: hover {
  transition: background 0.5s ease !important;
}

span:focus {
  outline: none;
}

.btn-block, .btn-group.btn-group-justified, .alert, .panel, input, textarea, .well {
    box-shadow: 1px 1px 6px #cccccc;
}

div, button, input, textarea {
  transition: box-shadow 0.5s ease;
  border-radius: 0 !important;
}

button:focus, input:focus, textarea:focus{
  outline: none;
  box-shadow: 1px 1px 4px #bbbbbb;
}

.accesscode_label {
  display: block;
  text-align: center;
}

.accesscode_input {
  font-size: 60px;
  height: 70px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  box-shadow: none !important;
  border: none;
  background: none;
}

.jumbotron {
  background: none;
  padding: 0;
  margin: 0;
}

.green {
  color: #5cb85c;
}

.red {
  color: red;
}

h3 {
  margin: 5px 0 0 0;
  font-size: 20px;
}

.example, .description {
  font-size: 20px; 
  position: relative;
  bottom: 1px;
}

h2 {
  position: relative;
}

.example {
  position: absolute;
  margin: 0 0 3px 7px;
}

.description {
  font-size: 18px;
}

h5 {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 0 32px;
  margin-bottom: 20px;
}

.adj {
  text-align: center;
}

.fa.intro {
  text-align: center;
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  color: #5cb85c;
}

.fa-mobile-phone, .fa-mobile-phone:before, .fa-mobile:before {
  font-size: 27px;
  text-align: right;
}

.rights {
  font-weight: normal;
  margin: 20px auto;
  width: 100px;
}

.label-default {
  background-color: darkgray;
}

.intro_screen {
  margin-bottom: 10px;
}

.announce {
  background-color: darkgray;
  color: white;
}

.comment_field {
  height: 100px ;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.sound {
  float: right;
  height: 35px;
  width: 35px;
  text-align: left;
  padding-left: 10px;
}

.confirm_info {
  padding-top: 10px;
  display: block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
  h5 {
    padding: 0 4px;
  }
  
  .example {
    display: none;
  }
  
  .panel-heading {
      text-align: left;
  }

  .byline {
    display: inline-block;
    padding: 10px 0 0 0;
    font-size: 15px;
  }

  .list-group-item {
    padding: 10px 10px;
  }
  
  .comments_header {
    padding-left: 10px;
  }
  
  textarea, .general_comment_textarea {
    height: 150px;
  }

  .alert-info {
    display: none;
  }
  
  .label {
    margin-right: 100px;
  }
}