body {
	margin: 0;
  background: url('/bg.png');
  background-attachment: fixed;
}

.app_container {
  padding-top: 20px;
}

.postlist {
	list-style: none;
	padding: 0;
}

.evt-transition-enter {
	opacity: 0.01;
}

.evt-transition-enter.evt-transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.evt-transition-leave {
    opacity: 1;
}

.evt-transition-leave.evt-transition-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}


.form-transition-enter {
	opacity: 0.01;
}

.form-transition-enter.form-transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.form-transition-enter-transition-leave {
    opacity: 1;
}

.form-transition-leave.form-transition-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.evts .evt + .evt {
    border-top: 1px solid #fff;
}

.evts .evt-op {
    color: #172935;
    font-variant: small-caps;
    font-weight: bold;
}

.evts .evt-id {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.evts .evt-date {
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}

.evts .evt-content {
    margin-top: 0.5em;
    color: rgba(255, 255, 255, 0.7);
}

del {
    background: #FFE6E6;
    color: gray;
    font-size: 80%;
}

ins {
    background: #E6FFE6;
    text-decoration: none;
    font-weight: bold;
}

del + ins::before {
  content: '\A0';
  display: inline-block;
}

.newComment {
  background-color: #FFFFFF;
	transition: background-color 0.5s ease;
}

.newComment.highlight {
  background-color: #ffff80;
	transition: background-color 0.5s ease;
}

.displayed_username {
  font-weight: bold;
}

.byline {
    display: inline-block;
    padding-left: 8px;
    position: relative;
    top: 2px;
}

.writing {
  padding: 7px 10px;
  transition: font-size 0.2s ease;
}

p {
  padding: 3px;
  margin: 0;
  transition: font-size 0.1s ease;
}

.large_text {
  font-size: 26px;
  transition: font-size 0.1s ease;
}

.comments_header {
  padding-bottom: 2px;
  font-size: 16px;
}

.comments {
    padding-left: 7px;
}

.newComment_time {
  color: black;
}

.comment_timestamp {
  font-size: 80%;
  padding-left: 5px;
  color: darkgray;
}

.post_title {
  padding-bottom: 3px;
}

.gray_icon {
  color: gray;
}

.panel-heading {
  text-align: right;
}

.label.title_header {
  padding-top: 4px;
  float: left;
  position: relative;
  top: 3px;
}

.label.change_version {
  position: relative;
  bottom: 1px;  
}

input, textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea {
  height: 100px;
  resize: vertical;
}

.changes_command {
  font-weight: bold;
}

.general_comment_textarea {
  height: 50px;
}

button, .alert, .panel, input, textarea {
    box-shadow: 1px 1px 2px #dddddd;
}

input.button_combined {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-group.button_combined {
  margin-bottom: 0;
}

button {
  opacity: 0.95;
}